@page
@using BusinessLogic
@using PLAYRATE_ClassLibrary.Games;
@model Home_Page___Hristo_Ganchev.GamesPageModel
@{
    ViewData["Title"] = "Games Page ";
}

<h2 id="text-white">@Model.PageTitle</h2>

<div id="div-content-box-games">
    
    <div id="div-allgames">

            @foreach (Game game in Model.Games)
            {
                <div id="div-game">
                <a asp-page="Game" asp-route-name="@game.Name" asp-route-model="@GamesPageModel.Model">
                        <div id="div-image-game">
                            <img src="@game.URL_Game" width="140" height="170" />
                        </div>

                        <h4 id="text-white">@game.Name</h4>
                        <h6 id="text-white">@game.Rating</h6>

                    </a>
                </div>
            }

    </div>


<div class="sidebar-filter">

        <form method="post" asp-page="./GamesPage" id="filter">

            <h3 id="text-white" asp-for="Filter.Keyword">SEARCH</h3>
            <input autocomplete="off" asp-for="Filter.Keyword" />
            <button type="submit" method="post">Submit</button>


        <h4 id="text-sidebar">Filter by:</h4>
        <div id="rb-field">

            <input type="radio" asp-for="Filter.MainFilter" value="Highest rating" />
            <label id="text-white" asp-for="Filter.MainFilter" >Highest rating</label>

            <input type="radio" asp-for="Filter.MainFilter" value="Latest release" />
            <label id="text-white" asp-for="Filter.MainFilter">Latest release</label>

            <input type="radio" asp-for="Filter.MainFilter" value="Most reviews" />
            <label id="text-white" asp-for="Filter.MainFilter">Most reviews</label>

        </div>

            <h4 id="text-sidebar">Genres:</h4>
            <div id="checkbox-field">
                @foreach (BusinessLogic.Genres genre in Enum.GetValues(typeof(BusinessLogic.Genres)))
                {
                    <input type="radio" asp-for="Filter.GenreFilter" value="@genre"/>
                    <label id="text-white">@genre</label>
                }
            </div>
        </form>


</div>
</div>
