@page
@using PLAYRATE_ClassLibrary.Reviews;
@model Home_Page___Hristo_Ganchev.Pages.GameModel
@{
}

<div id="div-content-box-desc">

    <h1 id="text-white">@Model.Game.Name</h1>
	
    <div id="div-image-desc">
        <img src="@Model.Game.URL_Page" width="720" height="430" />
    </div>

    <div id="text-details">
        <h4>Developer: @Model.Game.Developer</h4>
        <h4>Release date: @Model.Game.Release_Date</h4>
        <h4>Genre: @Model.Game.Genre</h4>
        <h4>Rating: @Model.Game.Rating / 5</h4>
    </div>

    <h4 id="text-description">@Model.Game.Description</h4>


    <div class="sidebar-reviews">
        <h3 id="text-sidebar">REVIEWS</h3>
        
        @if (HttpContext.Session.GetString("Username") != null)
        {
            <form method="post" asp-page="./Game">
                <div id="div-review">
                    <div id="div-review-pfp">
                        <img src=@Model.ProfilePicUser width="70" height="70" />
                    </div>
                    <div id="div-review-text">
                        <h4>@Model.Username</h4>
                        <h5>
                            Rating:
                            <input autocomplete="off" asp-for="Review.Rating" />
                        </h5>
                    </div>
                    <div id="div-review-text">
                        <input autocomplete="off" asp-for="Review.ReviewDesc" />
                        <button type="submit" method="post">Submit</button>
                    </div>
                </div>
            </form>
        }

        @foreach (Review review in Model.Reviews)
        {
        <div id="div-review">
            <div id="div-review-pfp">
                <img src="@review.URL_ProfilePicture" width="70" height="70" />
            </div>
            <div id="div-review-text">
                <h4>@review.Username</h4>
                <h5>Rating: @review.Rating/5</h5>
            </div>
            <div id="div-review-text">
                <h6>@review.ReviewDesc</h6>
            </div>
        </div>
        }

    </div>
</div>